@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/576/671/652/book-coffee-copy-doodling-wallpaper-preview.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; }

.App {
  text-align: center;
}

h1 {
  color: rgb(32, 28, 28)5a5;
  font-weight: 1000;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  border: 1px solid black;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgb(50,47,47,0.2);
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #151417;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: black;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: rgb(193, 198, 155);
  color: #0e0d0d;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(223, 237, 148);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #cecd8b;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
.todo-input::placeholder {
  color: black;
}
/* Default styles */

/* Existing styles */

/* Adjustments for smaller screens and mobile devices */
@media only screen and (max-width: 445px) {
  .TodoForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .todo-input {
    margin-bottom: 0.5rem;
  }

  .todo-btn {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  /* Other styles for smaller screens */
  /* You can add more specific styles as needed */
}
